extends layout

block content
  div.container
    h1 Bar Chart Showing Word Frequencies in Gettysburg Address
    svg.bar-chart.chart

  div.container
    h1 Top 10 Words Used in Gettysburg Address
    svg.top-10-chart.chart
